body {
    background-color: black;
    color: white;
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.sign-in-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.information-text {
    text-align: center;
    margin-bottom: 20px;
}

.sign-in-form {
    margin: 20px;
}

.sign-in-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}
.submit-btn {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 50%;

}

.submit-btn:hover {
    background-color: #0f171ff1;
    color: rgb(253, 253, 253);
    border: 1px solid rgb(253, 253, 253);
}

.alert {
    text-align: center;
    margin: 0 auto; /*keskittää*/
    max-width: fit-content;
}