body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.nav {

    justify-content: center;
}

.nav-link {
    margin: 0 15px;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-ul div {
    margin-left: auto;
    
  }

.nav-li {
    float: left;
}

.nav-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
  }

.active {
    background-color: #555555;
}

.btn-danger {
    float: right;
}