body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 20px;
}

.nav-bar {
    background-color: black;
}
.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.nav-li {
    float: left;
}

.nav-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-li a,
.sign-out-btn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* background-color: transparent; */
    border: none;
    cursor: pointer;
    float: right;
}


.nav-li a:hover,
.sign-out-btn:hover,
.upload-btn:hover {
    /* background-color: #111; */
    background-color: #4f4d4d;
}


.active {
    background-color: #666565;
    color: black;
}

.sign-out-btn{
    background-color: black;
}

.sign-out-form {
    margin-left: auto;
}

.alert {
    display: inline-block;
}

.mt-4 {
    margin-bottom: 20px;
    text-align: center;
   }
   
.date-input {
    margin-bottom: 10px;
}

.date-input input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.search-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin-top:10px;
    margin-bottom:20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #666565;
    color: white;
}